<!-- begin footer -->
{% if site.data.general_settings.footer == 'white' %}
  {% assign whiteFooter = 'white-footer' %}

  {% else %}

  {% assign whiteFooter = '' %}  
{% endif %}
<footer class="footer {{ whiteFooter }}">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        {% bookshop_include social-link %}

        

        <ul class="footer_nav list-reset">
          {% for item in site.data.navigation.menu__items %}
          <li class="footer_nav__item">
            <a href="{{ item.url | relative_url }}" class="footer_nav__link {{ whiteFooter }}">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>

        <div class="copyright {{ whiteFooter }}"><p>{{ site.time | date: '%Y' }} &copy; {{ site.data.general_settings.title }}</p></div>

      </div>
    </div>
  </div>
</footer>
<!-- end footer -->